* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 50%;
    width: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: white;
    border-radius: 0.6em;
    padding: 3%;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    animation: fadeIn 0.5s ease-in;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #000000;
}

.add-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#addButton {
    background-color: #0056b3;
    color: white;
    border: none;
    font-size: 24px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
}

#addButton:hover {
    background-color: #003a80;
}

.element {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.element img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.element button {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: auto;
    cursor: pointer;
}

.element button.edit-button {
    background-color: #5bc0de;
    margin-right: 10px;
}

.element button:hover {
    background-color: #c9302c;
}

.element button.edit-button:hover {
    background-color: #2e6da4;
}
